* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #1C1C1C;;
    position: relative;
    font-family: 'Inter', sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    width: 75%;
    max-width: 550px;
    min-width: 355px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-self: center;
    border: 1px solid black;
    background-color: #1F2937;
}

.topContainer {
    height: 285px;
    padding: 33px 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6943FF;
}

.topContainer h1 {
    margin-bottom: 30px;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

input {
    width: 117px;
    height: 83px;
    margin-bottom: 25px;
    background-color: #6943FF;
    color: #fff;
    border: 2px solid #B295FF;
    border-radius: 5px;
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    color: white;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    width: 117px;
    height: 42px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: all 500ms ease; 
}

button:hover {
    opacity: 80%;
}


.bottomContainer {
    padding: 7%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subContainers {
    width: 100%;
    max-width: 500px;
    padding: 6.5% 16%;
    margin-bottom: 23.5px;
    background-color: #273549;
}

.subContainers:last-child {
    margin-bottom: 0;
}

.subContainers p {
    margin-bottom: 10px;
    color: #CCC1FF;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

.stats {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

